body{
    margin: 0%;
    font-family: Arial, sans-serif;

}



h2{
    text-align: center;
}

ul{
    font-size: 18px;
}

.separator{
    border-top: 2px solid black;
    width: 500px;
    margin: auto;
}

.content{
    margin-left: 40px;
}

/* Styles pour le header et le footer */
html {
    text-align: center;
    margin: auto;
}



header {
    background-color: black;
    height: 20vh; /* Augmentation de la hauteur du header*/
    width: 100%;
}

.image {
    float: left;
    width: 15%; /* Réduction de la largeur du logo */
    height:80%; /* Réduction de la hauteur du logo */
    margin-right: -15%;
    margin-top: 1%;
    margin-left: 1%;
    border: white 3px solid;
}

.header_titre h1:hover {
    transition: 1s;
    scale: 1,2 ;
}

h1 {
    margin-top: 0%;
    color: white;
}

.menu .menu_ {
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px;
    text-transform: uppercase;
}

.menu_:hover {
    background-color: #008000;
}

.langue {
    width: 4%;
    height: 2.5%;
    float: right;
    margin-right: 2%;
}

.content-all{
    height: 100;
    width: 70%;
    margin: auto;
}

/* FOOTER */
.custom-footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 1%;
}

.custom-footer-text {
    margin: 1% 0;
    font-size: 100%;
}

.custom-social-icons {
    margin-top: 1%;
}

.custom-social-link {
    margin: 0 1%;
    text-decoration: none;
    color: #fff;
    font-size: 1.8%;
}

.custom-social-link:hover {
    color: #1e90ff;
}

.custom-social-icon {
    width: 2.4%;
    height: 2.4%;
    vertical-align: middle;
}


/* Style pour cacher le menu par défaut */
.menu nav {
    opacity: 0;
    visibility: hidden; /* Cache le menu par défaut */
    transform: translateY(-20px); /* Déplace le menu au-dessus de l'écran */
    transition: opacity 1.2s ease, transform 1.2s ease, visibility 0s 1.2s; /* Animations avec un délai pour la visibilité */
}

/* Style pour le bouton du menu hamburger */
.menu-toggle {
    display: block;
    cursor: pointer;
    font-size: 2.5vh; /* Ajuste selon la taille souhaitée */
    color: white;
    margin-top: -3%;
    margin-right: 1%;
}

/* Cacher la checkbox */
input[type=checkbox] {
    display: none;
}

/* Afficher le menu lorsque la checkbox est cochée */
input[type=checkbox]:checked ~ .menu nav {
    opacity: 1;
    visibility: visible; /* Le menu devient visible */
    transform: translateY(0); /* Le menu se déplace vers sa position normale */
    transition: opacity 1.2s ease, transform 1.2s ease; /* Transition sans délai */
}

/* Style du menu */
.menu_ {
    display: block;
    padding: 1.5vh 2vw; /* Ajuste selon la taille souhaitée */
    color: white;
    background-color: #333;
    text-decoration: none;
    transition: background-color 0.3s ease; /* Transition fluide sur le changement de couleur */
}

/* Changer la couleur de fond du menu au survol */
.menu_:hover {
    background-color: green; /* Changer la couleur au survol */
}

/* Style spécifique du menu avec fond sombre */
.menu_ {
    background-color: #111;
}

/* Option pour élargir le menu */
.menu_ {
    width: 30%;
    margin-left: 35%;
}



.videohj{
    width: 20%;
}

.video_touche{
    width: 25%;
}


@media only screen and (max-width: 425px){

    h1{
        font-size: 90%;

    }
    .image{
        width:20%;
        height: 40%;
    }
    
    .menu_{
        width: 50%;
        margin-left: 25%;
        font-size: 90%;
    }

    .custom-social-icon{
        width: 10%;
    }

    .content-all{
        width: 90%;
        height: 100%;
        margin-left:1%;
        text-align: center;
    }

    .separator{
        width: 90%;
        margin: auto;
    }

    .video_touche{
        width: 80%;
    }

    .videohj{
        width: 80%;
    }
}