body {
    font-family: Arial, sans-serif;
    margin: 0%;
    padding: 0%;
    background-color: #f4f4f9;
    color: #333;
    width: 100%;
}

h1, h2 {
    color: black;
}

ul {
    list-style-type: square;
    margin-left: 2%;
}

div {
    margin-bottom: 4%;
}

video {
    width: 100%;
    max-width: 60%;
    display: block;
    margin: 2% auto;
}

.img_avant_1900 {
    float: right;
    width: 30%;
    margin-left: 10%;
}

.img_1963 {
    float: left;
    width: 40%;
}

.foot_moderne_p {
    margin-left: 40%;
}

.img_expansion {
    float: right;
    width: 40%;
}

.expansion_internationale {
    margin-right: 40%;
    margin-bottom: 1%;
}

.img_trophee {
    float: left;
    width: 40%;
}

.coupe_du_monde {
    margin-left: 40%;
}

.img_nosjours{
    float: right;
    width: 50%;
}

.img_ajd{
    float: left;
    width: 20%;
}

.separator {
    border-top: black 2px solid;
    width: 70%;
    margin: auto;
}

/* Styles pour le header et le footer */
html {
    text-align: center;
    margin: auto;
}



header {
    background-color: black;
    height: 20vh; /* Augmentation de la hauteur du header*/
    width: 100%;
}

.image {
    float: left;
    width: 15%; /* Réduction de la largeur du logo */
    height:80%; /* Réduction de la hauteur du logo */
    margin-right: -15%;
    margin-top: 1%;
    margin-left: 1%;
    border: white 3px solid;
}

.header_titre h1:hover {
    transition: 1s;
    scale: 1,2 ;
}

h1 {
    margin-top: 0%;
    color: white;
}

.menu .menu_ {
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px;
    text-transform: uppercase;
}
.menu_:hover {
    background-color: #008000;
}

.langue {
    width: 4%;
    height: 2.5%;
    float: right;
    margin-right: 2%;
}

.content-all{
    height: 100;
    width: 70%;
    margin: auto;
}

/* FOOTER */
.custom-footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 1%;
}

.custom-footer-text {
    margin: 1% 0;
    font-size: 100%;
}

.custom-social-icons {
    margin-top: 1%;
}

.custom-social-link {
    margin: 0 1%;
    text-decoration: none;
    color: #fff;
    font-size: 1.8%;
}

.custom-social-link:hover {
    color: #1e90ff;
}

.custom-social-icon {
    width: 2.4%;
    height: 2.4%;
    vertical-align: middle;
}

/* Style pour cacher le menu par défaut */
.menu nav {
    opacity: 0;
    visibility: hidden; /* Cache le menu par défaut */
    transform: translateY(-20px); /* Déplace le menu au-dessus de l'écran */
    transition: opacity 1.2s ease, transform 1.2s ease, visibility 0s 1.2s; /* Animations avec un délai pour la visibilité */
}

/* Style pour le bouton du menu hamburger */
.menu-toggle {
    display: block;
    cursor: pointer;
    font-size: 2.5vh; /* Ajuste selon la taille souhaitée */
    color: white;
    margin-top: -3%;
    margin-right: 1%;
}

/* Cacher la checkbox */
input[type=checkbox] {
    display: none;
}

/* Afficher le menu lorsque la checkbox est cochée */
input[type=checkbox]:checked ~ .menu nav {
    opacity: 1;
    visibility: visible; /* Le menu devient visible */
    transform: translateY(0); /* Le menu se déplace vers sa position normale */
    transition: opacity 1.2s ease, transform 1.2s ease; /* Transition sans délai */
}

/* Style du menu */
.menu_ {
    display: block;
    padding: 1.5vh 2vw; /* Ajuste selon la taille souhaitée */
    color: white;
    background-color: #333;
    text-decoration: none;
    transition: background-color 0.3s ease; /* Transition fluide sur le changement de couleur */
}

/* Changer la couleur de fond du menu au survol */
.menu_:hover {
    background-color: green; /* Changer la couleur au survol */
}

/* Style spécifique du menu avec fond sombre */
.menu_ {
    background-color: #111;
}

/* Option pour élargir le menu */
.menu_ {
    width: 30%;
    margin-left: 35%;
}

.logo_fa{
    width: 10%;
}



@media only screen and (max-width: 425px){
   body{
    text-align: center;
    float: center;
   }
   
    h1{
        font-size: 90%;

    }
    .image{
        width:20%;
        height: 40%;
    }
    
    .menu_{
        width: 50%;
        margin-left: 25%;
        font-size: 90%;
    }

    .custom-social-icon{
        width: 10%;
    }
    
    .img_avant_1900, .img_1963, .img_ajd, .img_expansion, .img_nosjours, .img_trophee{
        float: center;
        width: 100%;
        margin-bottom: 2%;
    }

    .foot_moderne_p{
        text-align: center;
        margin-left: 5%;
    }

    .expansion_internationale{
        text-align: center;
        margin-right: 5%;
        margin-bottom: 1%;
    }

    .coupe_du_monde{
        margin-left: 5%;
        text-align: center;
        margin-bottom: 1%;
    }

    footer{
        margin-top: 1%;
    }

    .logo_fa{
        width: 30%;
    }
}
